
body{
    background: rgb(255,151,180);
    background: linear-gradient(90deg, rgba(255,151,180,0.9640231092436975) 4%, rgba(255,151,169,0.8827906162464986) 28%, rgba(255,151,168,0.8379726890756303) 46%, rgba(255,151,172,0.711922268907563) 70%, rgba(255,151,174,0.6811099439775911) 91%);
}

.alert {
    width: 250px;
    height: auto;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    background-color: #ff594d; 
    color: white;
    font-size: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    display: none;
    justify-items: center;
    font-weight: bold;
    transition: opacity 0.5s ease-in-out;
    overflow-wrap: break-word;
}
.alert span{
    margin-left: 15px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.close {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50px;
    height: 30px;
    font-size: 12px;
    margin-left: 42%;
    top: 5px;
    right: 5px;
    color: rgb(255, 0, 0);
    cursor: pointer;
}
.close:active{
background-color: #ff5da8c4;
color: aliceblue;
}
.alert.show {
    opacity: 1; 
}
.s-container{
    /* border: 10px solid black; */
    width: 70%;
    height: auto;
    align-items: center;
    display: block;
    margin: 0 auto;
}
.head  {
    width: 100%;
    height: auto;
    /* border: 5px solid yellow; */
    display: flex;
}
.mes{
    font-size: 20px;
    /* border: 5px solid black; */
    width: 30%;
    margin-top: auto;
    justify-content: center;
    height: fit-content;
    font-family: serif;
    font-weight: bold;
    align-items: center;
    display: flex;
}
.vid{
    justify-content: center;
    display: flex;
    width: 40%;
    height: auto;
    /* border: 5px solid red; */
    overflow: hidden;
}
.vid img{
    width: 110%;
    height: auto;
}
.author{
    /* border: 5px solid red; */
    width: 30%;
    height: auto;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.des{
    /* border: 5px solid blue; */
    justify-content: center;
    display: flex;
    height: auto;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}
.buttons{
    color: beige;
    width: 70%;
    height: auto;
    /* border: 5px solid blue; */
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
button{
    width: 80px;
    height: 30px;
    color: antiquewhite;
    font-size: 15px;
    border-radius: 10px;
    border: 1.5px solid black;
}
.but-no{
 /* border: 5px solid red;   */
    width: 130px;
    height: 50px;
    position: absolute;  
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 15em;
}
.but-yes{
     /* border: 5px solid red;  */
    width: 130px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15em;
}
.yes{
    background-color: rgba(35, 201, 57, 0.945);
}
.no{
    background-color: red;
}

button:hover{
    border: 2px solid rgba(65, 65, 65, 0.884);
    box-shadow: 0 0 7px 3px rgba(255, 255, 255, 0.897);
}
button:active {
    background-color: rgb(5, 129, 26);
}
.text{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 2%;
}
